@font-face {
  font-family: OSR;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: OSL;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: OSB;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: RR;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: RL;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: RM;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

/* line 7, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* ==== Navigation ==== */
/* line 15, ../sass/style.scss */
.navbar-default {
  background-color: white;
  border-color: transparent;
  padding: 5px 0px;
  z-index: 5;
}

@media (max-width: 767px) {
  /* line 23, ../sass/style.scss */
  .navbar-default {
    background-color: white !important;
  }

  /* line 26, ../sass/style.scss */
  .navbar a {
    color: #25272b !important;
  }
}
/* line 31, ../sass/style.scss */
.navbar-default .navbar-collapse {
  border-color: #f8f8f8;
}

/* line 35, ../sass/style.scss */
.navbar-fixed-top {
  position: fixed;
}

/* line 39, ../sass/style.scss */
.navbar-brand {
  line-height: 0;
}

/* line 43, ../sass/style.scss */
.nav li:first-child {
  display: none;
}

/* line 47, ../sass/style.scss */
.nav a {
  color: #25272b;
}

/* line 51, ../sass/style.scss */
.nav a:hover {
  color: #cfd1d4 !important;
}

/* line 55, ../sass/style.scss */
.nav .active a {
  color: #cfd1d4 !important;
}

/* line 59, ../sass/style.scss */
.navbar a {
  font-size: 13px;
  text-align: center;
  padding: 15px;
}

/* line 65, ../sass/style.scss */
.navbar a, .navbar .active a:hover, .navbar .active a:focus {
  background-color: transparent !important;
}

/* line 69, ../sass/style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddd;
}

/* line 73, ../sass/style.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* ==== Typography ==== */
/* line 79, ../sass/style.scss */
p {
  margin: 20px 0 0 0;
}

/* line 83, ../sass/style.scss */
h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 1;
  letter-spacing: -2px;
}

@media (max-width: 768px) {
  /* line 92, ../sass/style.scss */
  h1 {
    font-size: 42px;
    letter-spacing: -2px;
  }
}
@media (max-width: 480px) {
  /* line 99, ../sass/style.scss */
  h1 {
    font-size: 28px;
    letter-spacing: -1px;
  }
}
/* line 105, ../sass/style.scss */
h3 {
  font-size: 20px;
  font-weight: 300;
}

/* line 110, ../sass/style.scss */
h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

/* line 117, ../sass/style.scss */
a {
  color: #25272b;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

/* line 125, ../sass/style.scss */
a:hover {
  color: #949598;
  text-decoration: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

/* line 134, ../sass/style.scss */
textarea:focus, input:focus, a:focus, *:focus {
  outline: none;
}

/* line 138, ../sass/style.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
}

/* line 143, ../sass/style.scss */
#intro {
  min-height: 445px;
  background: #008cba url("../img/intro_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  opacity: 0.5;
}

/* line 152, ../sass/style.scss */
#services {
  min-width: 1170px;
  min-height: 500px;
  background: white;
  position: relative;
  display: block;
}
